<!DOCTYPE html>
<html>
    <head>
        <title>My Pet - Cadastrar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom fonts for this template -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <script src="js/jquery-3.3.1.min.js" type="text/javascript" ></script>
        <!-- Custom styles for this template -->
        <link href="css/agency.min.css" rel="stylesheet">

    </head>
    <body id="page-top">
        {% block conteudo %}
            {{ include('Componentes/menu.twig') }}

            <header class="masthead">
                <div class="container">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <form  class="form-group center-block text-center" id="formCadastro" enctype="multipart/form-data">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nome: </span>
                            </div>
                            <input type="text" name="nome" id="nome" class="form-control"/>
                        </div>
                        <br/>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">C.P.F.: </span>
                            </div>
                            <input type="text" name="cpf" id="cpf" 
                                   maxlength="14" class="form-control" >
                        </div>
                        <br/>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Identidade: </span>
                            </div>
                            <input type="text" name="identidade" id="identidade" class="form-control"/>
                        </div>
                        <br/>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">E-mail: </span>
                            </div>
                            <input type="email" name="email" id="email" class="form-control"/>
                        </div>
                        <br/>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Senha: </span>
                            </div>
                            <input type="password" name="senha" id="senha" class="form-control"/>
                        </div>
                        <br/>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Rua</span>
                            </div>
                            <input type="text" name="rua" id="rua" class="form-control"/>
                        </div>
                        <br/>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Número</span>
                            </div>
                            <input type="number" name="numero" id="numero" class="form-control"/>
                        </div>
                        <br/>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Bairro: </span>
                            </div>
                            <input type="text" name="bairro" id="bairro" class="form-control"/>
                        </div>
                        <br/>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">C.E.P.: </span>
                            </div>
                            <input type="number" name="cep" id="cep" class="form-control "/>
                        </div>
                        <br/>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Estado: </span>
                            </div>
                            <select id="estado" name="estado">
                                <option> -------------------------- Selecione o Estado ----------- </option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                                <option value="ES">Estrangeiro</option>
                            </select>
                        </div>
                        <br/>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Cidade: </span>
                            </div>
                            <input type="text" name="cidade" id="cidade" class="form-control "/>
                        </div>
                        <br/>
                        <div class="">  
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </div>
                    </form>

                    <div id="div_retorno">

                    </div>
                    <div id="processando" style="display: none;">
                        <img src="img/ajax-loader.gif" />
                    </div>
                </div>
                <br/>

                <br/>
                <br/>
                <br/><br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </header>


            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="copyright">Copyright &copy; My Pet 2018</span>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-inline social-buttons">
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-inline quicklinks">
                                <li class="list-inline-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Bootstrap core JavaScript -->

            <script src="js/funcoes.js" type="text/javascript" ></script>
            <script src="js/formatacao.js" type="text/javascript" ></script>
            <script src="js/bootstrap.min.js" type="text/javascript"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- Plugin JavaScript -->
            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
            <script src="js/jqBootstrapValidation.js"></script>
            <script src="js/contact_me.js"></script>

            <script src="js/agency.min.js"></script>

        {% endblock %}


    </body>

</html>

