<!DOCTYPE html>
<html>
    <head>
        <title>My Pet - Doar Mascote</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom fonts for this template -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="css/agency.min.css" rel="stylesheet">
    </head>
    <body id="page-top">
        {% block conteudo %}
            {{ include('Componentes/menulogado.twig') }}

            <header class="masthead">
                <div class="container">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <form  class="form-group center-block text-center" id="formDoar" enctype="multipart/form-data">
                        <label class="intro-heading text-uppercase">Informações do Mascote</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nome: </span>
                            </div>
                            <input type="text" name="nome_mascote" id="nome_mascote" class="form-control"/>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Idade: </span>
                            </div>
                            <input type="text" name="idade" id="idade" class="form-control"/>
                        </div>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Categoria</span>
                            </div>
                            <select id="categoria" name="categoria">
                                <option value="Cachorro">Cachorro</option>
                                <option value="Gato">Gato</option>

                            </select>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Vacinado? </span>

                            </div>
                            <select id="vacinado" name="vacinado">
                                <option value="Sim">Sim</option>
                                <option value="Nao">Não</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Vermifugado? </span>

                            </div>
                            <select id="vermifugado" name="vermifugado">
                                <option value="Sim">Sim</option>
                                <option value="Nao">Não</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Adoção Especial? </span>

                            </div>
                            <select id="adocaoespecial" name="adocaoespecial">
                                <option value="Sim">Sim</option>
                                <option value="Nao">Não</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">História: </span>

                            </div>
                            <textarea rows="10" cols="40" name="historia" id="historia" class="form-control">
                            </textarea>
                        </div>
                        <br/><br/>
                        <label class="intro-heading text-uppercase">Informações do Doador</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nome Doador: </span>

                            </div>
                            <input type="text" name="nomedoador" id="nomedoador" class="form-control"/>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">E-mail: </span>

                            </div>
                            <input type="emaildoador" name="emaildoador" id="email" class="form-control"/>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Telefone: </span>

                            </div>
                            <input type="text" name="telefonedoador" id="telefonedoador" class="form-control"/>
                        </div>
                        <br/>
                        <div class="input-group">
                            <input type="file" name="imagem"/>
                        </div>
                        <div class="">  
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </div>

                    </form>

                    <div id="div_retorno">

                    </div>
                    <div id="processando" style="display: none;">
                        <img src="img/ajax-loader.gif" />
                    </div>
                </div>
                <br/>

                <br/>
                <br/>
                <br/><br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
            </header>


            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="copyright">Copyright &copy; My Pet 2018</span>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-inline social-buttons">
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-inline quicklinks">
                                <li class="list-inline-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Bootstrap core JavaScript -->
            <script src="js/jquery-3.3.1.min.js" type="text/javascript" ></script>
            <script src="js/funcoes.js" type="text/javascript" ></script>
            <script src="js/bootstrap.min.js" type="text/javascript"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- Plugin JavaScript -->
            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
            <script src="js/jqBootstrapValidation.js"></script>
            <script src="js/contact_me.js"></script>

            <script src="js/agency.min.js"></script>

        {% endblock %}


    </body>

</html>

